In [23]:
import numpy as np
import pandas as pd

In [24]:
x=pd.Series([2.1, 2.3, 4.5, 2.4, 2.2])

In [25]:
#median-based
median=np.median(x)
threshold=2
outliers=[]
for item in x:
    if abs(item-median)>threshold:
        outliers.append(item)
print(outliers)

[4.5]

In [26]:
#mean-based
mean=np.mean(x)
std=np.std(x) #standard-deviation
outliers=[]
for item in x:
    if item<mean-std or item>mean+std:
        outliers.append(item)
print(outliers)

[4.5]

In [27]:
#z-score-based
mean=np.mean(x)
std=np.std(x) #standard-deviation
outliers=[]
for item in x:
    z_score=(item-mean)/std
    if z_score >1:
        outliers.append(item)
print(outliers)

[4.5]

In [28]:
Q1, Q3 =np.percentile(x,[25,75])
IQR=Q3-Q1
outliers=[]
for item in x:
    if item<(Q1-1.5*IQR) or item>(Q3+1.5*IQR):
        outliers.append(item)
print(outliers)

[4.5]

In [29]:
#Dealing with missing values
from numpy import NaN
data1={'Name': ['Edison', 'Edward', 'James', 'Ken'], 'Age': [26, 27, NaN, 36]}

In [30]:
data=pd.DataFrame.from_dict(data1)
data

     Name   Age
0  Edison  26.0
1  Edward  27.0
2   James   NaN
3     Ken  36.0

In [31]:
data.isnull()

    Name    Age
0  False  False
1  False  False
2  False   True
3  False  False

In [32]:
data.isnull().sum()

Name    0
Age     1
dtype: int64

In [37]:
data.dropna(inplace=True)
data
#unless 'inplace is used, 'data' will not be permanently modified

     Name   Age
0  Edison  26.0
1  Edward  27.0
3     Ken  36.0

In [44]:
data1 = {'Name': ['Edison', 'Edward', 'James', 'Ken'], 'Age': [26, 27, NaN, 36]}
data_ = pd.DataFrame.from_dict(data1)

In [46]:
data_['Age'].fillna(data_['Age'].mean(), inplace=True)
data_
#can be similarily done with mode()

C:\Users\User\AppData\Local\Temp\ipykernel_14688\50553019.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_['Age'].fillna(data_['Age'].mean(), inplace=True)

     Name        Age
0  Edison  26.000000
1  Edward  27.000000
2   James  29.666667
3     Ken  36.000000

In [50]:
#Regular expressions
import re
x="Python was released in 1991"
x1=re.findall("^Python", x) #checking if the x value starts with "Python"
x2=re.findall('\d', x)
x3=re.findall('\d+', x)
print(x1, x2, x3)

['Python'] ['1', '9', '9', '1'] ['1991']

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
C:\Users\User\AppData\Local\Temp\ipykernel_14688\3963852774.py:5: SyntaxWarning: invalid escape sequence '\d'
  x2=re.findall('\d', x)
C:\Users\User\AppData\Local\Temp\ipykernel_14688\3963852774.py:6: SyntaxWarning: invalid escape sequence '\d'
  x3=re.findall('\d+', x)

In [58]:
txt="Hello World"
#checking if the text matches the pattern
match_object=re.search(pattern='World', string= txt)
match_object.span()

(6, 11)

In [59]:
tekst="C++ is my fav programming language"
re.sub( pattern=r'C\+\+', repl='Python', string=tekst)

'Python is my fav programming language'

In [60]:
#Feature scaling
#normalizacja zmiennej losowej - zeby była w przedziale [0;1] (lub min-max scaling)
#df=(df-df.min())/(df.max()-df.min())
#standaryzacja - zeby odchylenie standardowe było równe 1
#standarized_value=(original_value-mean)/standard_deviation
#mean, standard_deviation = df.mean(), df.std()